@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --color-text-light-highlight: #e0f0e0;
    --color-text-light-heading: #b8c9b8;
    --color-text-light-primary: #a8b5a4;
    --color-border-light-primary: #a8b5a4;
    --color-border-highlight-alt: green;
    --color-border-highlight: limegreen;
    --color-shadow-highlight: lime;
    --color-shadow-primary: darkgreen;
    --color-scrollbar: limegreen;
    --color-text-hyperlink: limegreen;
    --color-underline-header: limegreen;
    background: black;
}
.system-softlight {
    --color-scrollbar: limegreen;
    --color-light-6: #6b8565;
    --color-light-5: #79a889;
    --color-light-4: #bad6a1;
    --color-light-3: #d1eca9;
    --color-light-2: #e6efd8;
    --color-light-1: #f3f7e8;
    --color-warm-1: #9bee3a;
    --color-warm-2: #59c93f;
    --color-warm-3: #145d2b;
    --color-cool-3: #75584a;
    --color-cool-4: #313028;
    --color-cool-5: rgb(11, 19, 10);
    --color-cool-5-25: rgba(11, 19, 10, 0.25);
    --color-cool-5-25: rgba(11, 19, 10, 0.5);
    --color-cool-5-25: rgba(11, 19, 10, 0.75);
    --color-cool-5-25: rgba(11, 19, 10, 0.9);
    --font-h1: "Orbitron", "Palatino Linotype", sans-serif;
    --font-h2: "Signika", "Palatino Linotype", sans-serif;
    --font-h3: "Orbitron", "Palatino Linotype", sans-serif;
    --font-h4: "Orbitron", "Palatino Linotype", sans-serif;
    --font-h6: "Orbitron", "Palatino Linotype", sans-serif;
    background: url(./media/grid.png) repeat;

    .notification {
        background: rgba(17, 17, 17, 0.8);
    }
    .notification.info {
        border: 1px solid cyan;
    }
    .notification.warning {
        border: 1px solid yellow;
    }
    .notification.error {
        border: 1px solid red;
    }
    .notification.success {
        border: 1px solid lime;
    }
    .app {
        background: url(./media/grid.png) repeat;
        box-shadow: inset 0 0 200px 40px black;
    }
    button, .dialog .dialog-button button.default, .dialog .dialog-button button {
        background: rgba(0, 15, 0, 0.8);
        border: 1px solid darkgreen;
        color: var(--color-light-3);
        border-radius: 10px;
    }
    .application {
        background: url(./media/grid.png) repeat;
    }
    .application button:hover:not(.header-control) {
        color: black;
    }
    #logo {
        filter: hue-rotate(100deg);
    }
    .actor-thumbnail, .item-thumbnail {
        width: 64px;
        min-width: 64px;
        max-width: 64px;
        height: 64px;
        min-height: 64px;
        max-height: 64px;
        object-fit: cover;
        flex: 0 0;
    }
    h1, h2, h3, h4, h5, h6 {
        position: relative;
    }
    .heading-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        font-size: 1rem;
    }
    .flexrow.stretch {
        align-items: stretch;
    }
    .application hr {
        background-image: linear-gradient(90deg, transparent 0%, limegreen 50%, transparent 100%);
    }
    .facet-bar {
        height: 10px;
    }
    .facet-bar-reserved {
        height: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .facet-bar-acc-wounds {
        height: 10px;
        background-color: rgba(255, 255, 255, 0.4)
    }
    .facet-type-label {
        font-variant: all-small-caps;
        color:#bad6a1;
        flex: 0;
    }
    input.small-text-input {
        display: block;
        font-variant: all-small-caps;
        line-height: normal;
        height: min-content;
        padding-left: 4px;
        margin-left: 4px;
    }
    .section-h {
        text-transform: uppercase;
    }
    .section-h::before {
        content: '[';
    }
    .section-h::after {
        content: ']';
    }
    .chat-message {
        filter: invert(1) hue-rotate(235deg) saturate(10) contrast(2);
    }
    .dice-tooltip .dice-rolls .roll {
        filter: none !important;
    }
    .tabbed-content > menu.tabs button {
        text-transform: uppercase;
    }
    .tabbed-content > .tab-content {
        display: none;
    }
    .tabbed-content > .tab-content.active {
        display: block;
    }
    .window-content {
        [data-edit='name'] {
            font-family: 'Orbitron', monospace;
            font-size: 40px;
            height: unset;
        }
    }
    .character-sheet {
        [data-edit="name"] {
            margin-left: 16px;
        }
        .window-content > div {
            height: calc(100% - 48px);
            overflow:hidden;
            display: flex;
            flex-direction: column;
            .tabbed-content {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                flex: 1;
                .tab-content.active {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    prose-mirror {
                        flex: 1;
                    }
                }
                .tab-content > section {
                    overflow-y: auto;
                    overflow-x: hidden;
                    overflow-wrap: break-word;
                }
            }
        }
        .tabbed-content > menu.tabs {
            padding: 0;
            bottom: 0;
            position: absolute;
            width: calc(100% - 32px);
        }
        .upgrade-points h4 {
            margin-top: 16px;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .inventory-container h4:first-child {
            margin-top: 24px;
        }
    }
    [data-action] {
        cursor: pointer;
    }
    .application .window-content {
        backdrop-filter: blur(2px);
    }
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
    background: limegreen !important;
}

.placeholder {
    display: none;
}

.placeholder:first-child:last-child {
    display: block;
}